<div class="container">
  <div class="title">
    <h1>{{model.author.username}}</h1>
    <img src="{{model.author.profilePicture}}">
    <p><strong>First name:</strong> {{model.author.firstName}}</p>
    <p><strong>Last name: </strong>{{model.author.lastName}}</p>
    <p><strong>Last name: </strong>{{model.author.email}}</p>
  </div>
</div>
{{outlet}}
